html, body {
	height: 100%;
	margin: 0;
}

.background {
    background: linear-gradient(314deg, #00e6ff, #ff00ea);
    background-size: 400% 400%;
    min-height: 100%;
    -webkit-animation: AnimationName 19s ease infinite;
    -moz-animation: AnimationName 19s ease infinite;
    -o-animation: AnimationName 19s ease infinite;
    animation: AnimationName 19s ease infinite;
}

@-webkit-keyframes AnimationName {
    0%{background-position:0% 51%}
    50%{background-position:100% 50%}
    100%{background-position:0% 51%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 51%}
    50%{background-position:100% 50%}
    100%{background-position:0% 51%}
}
@-o-keyframes AnimationName {
    0%{background-position:0% 51%}
    50%{background-position:100% 50%}
    100%{background-position:0% 51%}
}
@keyframes AnimationName {
    0%{background-position:0% 51%}
    50%{background-position:100% 50%}
    100%{background-position:0% 51%}
}

.howtobox {
   background-color: #ffffff;
   width: 60vmin;
   height: 80vmin;
   margin: 0 auto;
   display: flex;
   justify-content: center;
   align-items: center;
   text-align: center;
   position: absolute;
   left: 50%;
   top: 50%;
   border-radius: 5.5vmin;
	 box-shadow: 0 0 8px -4px #555555;
   -webkit-transform: translate(-50%, -50%);
   transform: translate(-50%, -50%);
}

.howtotitle {
	font-family: "Roboto";
	font-weight:700;
	font-size: 7vmin;
	position: fixed;
	top: 1.5vmin;
	width: 100%;
	z-index: 100;
}

hr.rounded {
  border-top: 0.5vmin solid #bbbbbb;
  border-radius: 1vmin;
	border-bottom: transparent;
	width: 70%;
}

hr.roundedf {
  border-top: 0.5vmin solid #ffffff;
  border-radius: 1vmin;
	border: transparent;
	width: 70%;
}

.howtosteps {
	font-family: "Roboto";
	font-weight:500;
	font-size: 3vmin;
	position: fixed;
	top: 20vmin;
	width: 75%;
	text-align: left;
}

.sideimage {
	float: left;
	width: 6.944vmin; 
	height: 6.944vmin;
	object-fit: contain;
	margin-right: 1vmin;
}